.login-form__field {
  width: 100%;
}

.login_form__card {
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.login_form__card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
  text-align: center;
}

.login_form__card-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-form__button {
  max-width: 200px;
  align-self: center;
}
